{% extends "_layout.html" %}
{% block content %}
{# idol request that pending approval from idol #}
{% for request in current_user.idol_requests %}
<li>
    {{request.username}}
    <form action="{{url_for('users.unfollow',idol_id=request.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="submit" class="btn btn-sm btn-outline-primary" value="Delete">
    </form>
</li>
{% endfor %}


{# fan request that pending your approval #}
{% for request in current_user.fan_requests %}
<li>{{request.username}}
    <form action="{{url_for('users.approve',fan_id=request.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="submit" class="btn btn-sm btn-outline-primary" value="Approve">
    </form>
    <form action="{{url_for('users.delete_request',fan_id=request.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="submit" class="btn btn-sm btn-outline-primary" value="Delete">
    </form>
</li>
{% endfor %}
{% endblock %}